/* Fix Food Card Layout */
.food-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 🟢 text + price nicely positioned */
    background: #fff;
    border-radius: 15px;
    padding: 10px;
    height: auto; /* 🟢 Auto adjust height */
    min-height: 420px; /* 🟢 Not cut */
    box-sizing: border-box;
}

.food-item-image{
    width: 100%;
    border-radius: 15px  15px  0px  0px;
}
.food-item-img-container{
    position: relative;
}
.food-item-name {
  font-size: 18px;
  font-weight: 600;
  color: #222;
margin-bottom: 6px; }
/* description thoda subtle */
.food-item-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 8px;  
}


/* price standout */
.food-item-price {
  font-size: 18px;
  font-weight: 600;
  color: #ff4c24; /* tomato / zomato style */
  /* margin-top: 4px; */
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;   
}
.food-item-counter img{
    width: 30px;
}